<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271560596371-gicp6c8ol4r8ba96dsotvdh3oikq0di8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271560596371-gicp6c8ol4r8ba96dsotvdh3oikq0di8</string>
	<key>API_KEY</key>
	<string>AIzaSyAnomom4sZF2er6PFXGVXP_7RQw-Pe_uAY</string>
	<key>GCM_SENDER_ID</key>
	<string>271560596371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dmitry-s.Instahlam</string>
	<key>PROJECT_ID</key>
	<string>instahlam-f7b40</string>
	<key>STORAGE_BUCKET</key>
	<string>instahlam-f7b40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271560596371:ios:6d576544dbe3d88c126666</string>
</dict>
</plist>